body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #cdcdcd;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

.hidden {
  visibility: hidden;
}

.game-container {
  display: flex;
  margin-top: 20px;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-gap: 5px;
  margin: 10px;
}

.cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

.cell.empty {
  background-color: #6ddaff;
}

.cell.ship {
  background-color: #6a6a6a;
}

.cell.hit {
  background-color: #ff5739;
}

.cell.miss {
  background-color: #d1f2ff;
  border: 1px #6ddaff solid;
}

.cell.valid-place {
  border: 3px green solid;
}

.cell.invalid-place {
  border: 3px red solid;
}

.turn-indicator {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3498db;
}

.waters-indicator {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#home-waters,
#enemy-waters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-waters {
  margin-right: 15px;
}

#enemy-waters {
  margin-left: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(124, 124, 124, 0.8);
  backdrop-filter: blur(8px);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 45%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  max-height: 500px;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu-modal {
  text-align: center;
}

.menu-modal .button-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: calc(100% - 5rem);
}

.menu-modal button {
  width: 40%;
}
.menu-modal .new-game-wrapper {
  display: flex;
  gap: 1rem;
  width: 40%;
}

.menu-modal .new-game-wrapper button {
  flex: 1 1 max-content;
  height: 100%;
}

.dropdown {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  min-width: 120px;
}

.handover-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(124, 124, 124, 0.8);
  backdrop-filter: blur(8px);
}

.handover-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  background: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.handover-message {
  margin-bottom: 20px;
}

a {
  color: rgb(0, 44, 94);
}

.cell:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 1023px) {
  body::before {
    content: 'Battleships \a\a Please play on a computer';
    white-space: pre;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
}
